{% include 'snippets/header.html' %}
{% load static%}

<!--=====================================================================Start of Banner======================================-->
<section class="w3l-hero-headers-11">
	<div class="hero-header-11-content">
		<!-- banner -->
		<div id="homepage-slider" class="st-slider">
			<input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
			<input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
			<input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
			<input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
			<div class="images">
				<div class="images-inner">
					<div class="image-slide">
						<div class="banner-w3ls-1">
							<div class="wrapper-full">
								<div class="slider-num d-grid grid-columns-auto">
									<h4>01<span>/03</span></h4>
									<p>Caption</p>
								</div>
								<div class="d-grid grid-columns-auto-end">
									<div class="slider-text-w3ls">
										<span>Interior</span>
										<h4>Affordable Solutions For Better Living</h4>
										<p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo efficitur elementum.
											Donec faucibus arcu elementum, luctus justo.</p>
										<a href="{% url 'main:about' %}" class="action"> Read More</a>
									</div>
									<div class="share align-end">
										<a href="#share"> Share</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="image-slide">
						<div class="banner-w3ls-2">
							<div class="wrapper-full">
								<div class="slider-num d-grid grid-columns-auto">
									<h4>02<span>/03</span></h4>
									<p>Caption</p>
								</div>
								<div class="d-grid grid-columns-auto-end">
									<div class="slider-text-w3ls">
										<span>Interior</span>
										<h4>We Bring Ideas To Life</h4>
										<p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo efficitur elementum.
												Donec faucibus arcu elementum, luctus justo.</p>
												<a href="{% url 'main:about' %}" class="action">  Read More </a>
									</div>
									<div class="share align-end">
										<a href="#share"> Share</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="image-slide">
						<div class="banner-w3ls-3">
							<div class="wrapper-full">
								<div class="slider-num d-grid grid-columns-auto">
									<h4>03<span>/03</span></h4>
									<p>Caption</p>
								</div>
								<div class="d-grid grid-columns-auto-end">
									<div class="slider-text-w3ls">
										<span>Interior</span>
										<h4>Bringing Style And Comfort </h4>
										<p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo efficitur elementum.
												Donec faucibus arcu elementum, luctus justo.</p>
										<a href="{% url 'main:about' %}" class="action">  Read More </a>
									</div>
									<div class="share align-end">
										<a href="#share"> Share</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="labels">
				<div class="fake-radio">
					<label for="slide1" class="radio-btn"></label>
					<label for="slide2" class="radio-btn"></label>
					<label for="slide3" class="radio-btn"></label>
				</div>
			</div>
		</div>
		<!-- ===============================//banner -->
	</div>
</section>
<!--=============================== //hero-header 11 -->
<!--=====================================================================End of Banner======================================-->


<!--========================================================HOW IT WORKS===================================-->
<section class="w3l-services-1 w3l-features-4">
<div class="services-title">
				<h3>how it Works</h3>
				<p>Fusce faucibus ante vitae justo efficitur elementum. Donec faucibus arcu elementum, luctus justo. ac purus semper pharetra.</p>
			</div>
			<i class="fad fa-badge-check"></i>
<!--<section class="w3l-features-4">-->
    <div id="features4-block">
        <div class="wrapper">
            <div class="features4-grids d-grid text-center">
                <div class="features4-grid">
                   <span class="fa fa-search"></span>
                    <h5>5 years warranty</h5>
                    <p>Fusce faucibus ante vitae justo et icitur elementum luctus justo. ac sed purus semper sed amet ac.</p>
                </div>
                <div class="features4-grid">
                    <span class="fa fa-check-circle"></span>
                    <h5>100+ expert designers</h5>
                    <p>Fusce faucibus ante vitae justo et icitur elementum luctus justo. ac sed purus semper sed amet ac.</p>
                </div>
                <div class="features4-grid">
                    <span class="fa fa-file-text"></span>
                    <h5>free installation</h5>
                    <p>Fusce faucibus ante vitae justo et icitur elementum luctus justo. ac sed purus semper sed amet ac.</p>
                </div>
                <div class="features4-grid">
                    <span class="fa fa-user-circle"></span>
                    <h5>free home delivery</h5>
                    <p>Fusce faucibus ante vitae justo et icitur elementum luctus justo. ac sed purus semper sed amet ac.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
<!--======================================================== END OF HOW IT WROKS=========================================-->

<!--======================================================== Start OF Partners=========================================-->
<section class="partners-packers">
	<div class="packers1">
		<div class="wrapper">
			<div class="packers1-content">
				<div class="packers-card">
					<a href="ameer-packers-and-movers.html"><img src="{% static 'assets/images/clients-1.jpg' %}" class="img-responsive" alt="" /></a>
					<h4><a href="ameer-packers-and-movers.html">Ameer Packers & movers movers</a></h4>
					<p><i class="fa fa-mobile" aria-hidden="true"></i> +91 9845980022</p>
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> Shop No. 01, No. 53/1, <span>Roopena Agrahara, Bommanahalli, </span> Hosur Main Road, Bangalore-560068</p>
					<a href="http://www.ameerpackers.com/" target="_blank" class="actionbg">VISIT WEBSITE</a>
				</div>
				<div class="packers-card">
					<a href="ameer-packers-and-movers.html"><img src="{% static 'assets/images/clients-1.jpg' %}" class="img-responsive" alt="" /></a>
					<h4><a href="ameer-packers-and-movers.html">Ameer Packers & movers movers</a></h4>
					<p><i class="fa fa-mobile" aria-hidden="true"></i> +91 9845980022</p>
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> Shop No. 01, No. 53/1, <span>Roopena Agrahara, Bommanahalli, </span> Hosur Main Road, Bangalore-560068</p>
					<a href="http://www.ameerpackers.com/" class="actionbg">VISIT WEBSITE</a>
				</div>
				<div class="packers-card">
					<a href="ameer-packers-and-movers.html"><img src="{% static 'assets/images/clients-1.jpg' %}" class="img-responsive" alt="" /></a>
					<h4><a href="ameer-packers-and-movers.html">Ameer Packers & movers movers</a></h4>
					<p><i class="fa fa-mobile" aria-hidden="true"></i> +91 9845980022</p>
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> Shop No. 01, No. 53/1, <span>Roopena Agrahara, Bommanahalli, </span> Hosur Main Road, Bangalore-560068</p>
					<a href="http://www.ameerpackers.com/" class="actionbg">VISIT WEBSITE</a>
				</div>
				<div class="packers-card">
					<a href="ameer-packers-and-movers.html"><img src="{% static 'assets/images/clients-1.jpg' %}" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce-single.html">Ameer Packers & movers movers</a></h4>
					<p><i class="fa fa-mobile" aria-hidden="true"></i> +91 9845980022</p>
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> Shop No. 01, No. 53/1, <span>Roopena Agrahara, Bommanahalli, </span> Hosur Main Road, Bangalore-560068</p>
					<a href="http://www.ameerpackers.com/" class="actionbg">VISIT WEBSITE</a>
				</div>
				<div class="packers-card">
					<a href="ameer-packers-and-movers.html"><img src="{% static 'assets/images/clients-1.jpg' %}" class="img-responsive" alt="" /></a>
					<h4><a href="ecommerce-single.html">Ameer Packers & movers movers</a></h4>
					<p><i class="fa fa-mobile" aria-hidden="true"></i> +91 9845980022</p>
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> Shop No. 01, No. 53/1, <span>Roopena Agrahara, Bommanahalli, </span> Hosur Main Road, Bangalore-560068</p>
					<a href="http://www.ameerpackers.com/" class="actionbg">VISIT WEBSITE</a>
				</div>
				<div class="packers-card">
					<a href="ameer-packers-and-movers.html"><img src="{% static 'assets/images/clients-1.jpg' %}" class="img-responsive" alt="" /></a>
					<h4><a href="ameer-packers-and-movers.html">Ameer Packers & movers movers</a></h4>
					<p><i class="fa fa-mobile" aria-hidden="true"></i> +91 9845980022</p>
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> Shop No. 01, No. 53/1, <span>Roopena Agrahara, Bommanahalli, </span> Hosur Main Road, Bangalore-560068</p>
					<a href="http://www.ameerpackers.com/" class="actionbg">VISIT WEBSITE</a>
				</div>
				</div>
				</div>
				</div>
				</section>



<!--========================================================Start of cities======================================-->

{% include 'main/snippets/footer.html' %}
{% include 'main/snippets/move_top.html' %}
