{% include 'snippets/header.html' %}
{% load static%}

<!-- products -->
<section class="w3l-products-1">
	<div class="products1">
		<div class="wrapper">
			<div class="products1-content">
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a2.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">wooden chair </a></h4>
					<p>Starting at $45,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a3.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">round table</a></h4>
					<p>Starting at $40,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a1.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">global chair</a></h4>
					<p>Starting at $24,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a2.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">wooden chair</a></h4>
					<p>Starting at $19,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a3.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">round table</a></h4>
					<p>Starting at $39,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a1.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">Global chair</a></h4>
					<p>Starting at $45,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a2.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">wooden chair</a></h4>
					<p>Starting at $40,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a3.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">round table</a></h4>
					<p>Starting at $24,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a1.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">global chair</a></h4>
					<p>Starting at $19,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a2.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">Wooden chair</a></h4>
					<p>Starting at $39,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a3.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">round table</a></h4>
					<p>Starting at $45,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a1.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">global chair</a></h4>
					<p>Starting at $40,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a2.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">wooden chair</a></h4>
					<p>Starting at $24,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a3.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">round table</a></h4>
					<p>Starting at $19,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
				<div class="column">
					<a href="{% url 'ecommerce:ecommerce-single' %}"><img src="{% static 'assets/images/a1.png' %}" class="img-responsive" alt="" /></a>
					<h4><a href="{% url 'ecommerce:ecommerce-single' %}">global chair</a></h4>
					<p>Starting at $39,99</p>
					<a href="{% url 'ecommerce:ecommerce-cart' %}" class="actionbg">Add to cart</a>
				</div>
			</div>
			<div class="pagination">
				<ul>
					<li class="prev"><a href="#page-number"><span class="fa fa-angle-double-left"></span></a></li>
					<li><a href="#page-number" class="active">1</a></li>
					<li><a href="#page-number">2</a></li>
					<li><a href="#page-number">3</a></li>
					<li><a href="#page-number">4</a></li>
					<li><a href="#page-number">5</a></li>
					<li class="next"><a href="#page-number"><span class="fa fa-angle-double-right"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- //products1 -->

{% include 'main/snippets/footer.html' %}
{% include 'main/snippets/move_top.html' %}
