<section class="w3l-footer-16">
	<!-- /w3l-footer-16 -->
	<div class="w3l-footer-16-main">
		<div class="wrapper">
			<div class="grid">
				<div class="column">
					<h3>Accounts</h3>
					<ul class="footer-gd-16">
						<li><a href="{% url 'login'%}">Login / sign in</a></li>
						<li><a href="{% url 'signup'%}">Register</a></li>
					</ul>				
				</div>
				<div class="column">
						<h3>Partner's Services</h3>
						<ul class="footer-gd-16">
						<li><a href="{% url 'main:services' %}">Packers & Movers</a></li>
						<li><a href="{% url 'main:services' %}">CCTV Survillience</a></li>
						<li><a href="{% url 'main:services' %}">Interior design</a></li>
						<li><a href="{% url 'main:services' %}">Building Constructors</a></li>
					</ul>
				</div>
				<div class="column">
					<h3>Quick Links</h3>
					<ul class="footer-gd-16">
						<li><a href="{% url 'main:about' %}">About Us</a></li>
						<li><a href="{% url 'main:services' %}">Our Services</a></li>
						<li><a href="{% url 'main:portfolio' %}">News</a></li>
						<li><a href="{% url 'main:contact' %}">FAQ's</a></li>
						<li><a href="{% url 'main:about' %}l">Terms & Conditions</a></li>
					<!--	<li><a href="services.html">News</a></li>
						<li><a href="services.html">News</a></li>-->
						<li><a href="{% url 'main:portfolio' %}">Write Complaint</a></li>
						<li><a href="{% url 'main:contact' %}">Get in touch</a></li>
					</ul>
				</div>
						<!--<div class="column column3">							 
						<h3>Links</h3>
						<ul class="footer-gd-16">
							<li><a href="#url">24/7 support</a></li>
							<li><a href="#url">privacy policy</a></li>
							<li><a href="#url">Terms of use</a></li>
							<li><a href="#url">License</a></li>
						</ul>
					</div>-->
					<!--<div class="column column4">
						<h3>Newsletter </h3>
						<form action="#" class="subscribe" method="post">
							<input type="email" name="email" placeholder="Enter your email" required="">
							<button><span class="fa fa-envelope-o"></span></button>
						</form>
						<p>Subscribe and get our weekly newsletter</p>
						<p>We'll never share your email address</p>
					</div>-->
					<div class="column column3">							 
						<h3>Cities we serve</h3>
						<ul class="footer-gd-16">
							<li><a href="#url">Ahmedabad</a></li>
							<li><a href="{%url 'packers:bangalore' %}">Bangalore</a></li>
							<li><a href="#url">Chandigarh</a></li>
							<li><a href="#url">Chennai</a></li>
							<li><a href="#url">Ahmedabad</a></li>
							<li><a href="#url">Bangalore</a></li>
							<li><a href="#url">Chandigarh</a></li>
							<li><a href="#url">Chennai</a></li>
							<li><a href="#url">Chandigarh</a></li>
							<li><a href="#url">Chennai</a></li>
							
						</ul>
					</div>
					<div class="column column4">							 
						<ul class="footer-gd-16"><br><br>
							<li><a href="#url">24/7 support</a></li>
							<li><a href="#url">privacy policy</a></li>
							<li><a href="#url">Terms of use</a></li>
							<li><a href="#url">License</a></li>
							<li><a href="#url">Ahmedabad</a></li>
							<li><a href="#url">Bangalore</a></li>
							<li><a href="#url">Chandigarh</a></li>
							<li><a href="#url">Chennai</a></li>
							<li><a href="#url">Chandigarh</a></li>
							<li><a href="#url">Chennai</a></li>
						</ul>
					</div>
					<div class="column column5">							 
						<ul class="footer-gd-16"><br></br>
							<li><a href="#url">24/7 support</a></li>
							<li><a href="#url">privacy policy</a></li>
							<li><a href="#url">Terms of use</a></li>
							<li><a href="#url">License</a></li>
							<li><a href="#url">Ahmedabad</a></li>
							<li><a href="#url">Bangalore</a></li>
							<li><a href="#url">Chandigarh</a></li>
							<li><a href="#url">Chennai</a></li>
							<li><a href="#url">Chandigarh</a></li>
							<li><a href="#url">Chennai</a></li>
						</ul>
					</div>
					
			</div>
		</div>
	</div>
</section>
<!-- //w3l-footer-16 -->
<!--======================================End of cities==========================-->

<!-- Footer -->
<section class="w3l-footers-1">
  <div class="footer">
    <div class="wrapper">
      <div class="footer-content">
        <div class="d-grid grid-columns-2">
          <div class="footer-left">
            <p>© 2019 Living Decor. All rights reserved | Designed by <a href="https://w3layouts.com/">W3layouts</a></p>
          </div>
          <div class="footer-right align-right">
            <ul class="social">
              <li><a href="#twitter"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#facebook"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#facebook"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#facebook"><span class="fa fa-linkedin"></span></a></li>
			  <li><a href="#facebook"><span class="fa fa-instagram"></span></a></li>
			  <li><a href="#facebook"><span class="fa fa-vimeo"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //Footer -->