{% include 'snippets/header.html' %}
{% load static %}
<section class="w3l-error">
<!-- /w3l-error page-section -->
    <div class="w3l-error-mian">
        <div class="wrapper">
            <div class="w3l-error-content">
                <div class="w3l-error-info">
                    <h2>404</h2>
                    <h3>Page Not Found</h3>
                    <p>We're sorry, the page you requested could not be found, Please go back to the homepage or contact us</p>
                </div>
                <div class="w3l-error-right-inf"> 						
                    <a href="\" class="actionbg">Back to home </a>
                    <a href="{% url 'main:contact' %}" class="actionbg1">Contact Us </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //w3l-error-page-section -->
 	
