{% include 'snippets/header.html' %}
{% load static %}
<section class="w3l-form-25">
       <!-- /w3l-form-25-section -->
         <div class="w3l-form-25-mian">
			<div class="wrapper">
			<div class="form-inner-cont">
					<div class="forms-25-info">
						<h5>Living Decor</h5>
                        <h3>Our design blog is coming soon</h3>
                        <p>Sign up for our latest blog posts and to be the first to know when we go live!</p>
                    </div>
					<div class="form-right-inf"> 						
						<form action="#" method="post" class="signin-form">	
							 <div class="forms-gds">
								<div  class="form-input">
									<input type="email" name="" placeholder="Your Email" required />
								</div>
								<div  class="form-input"><button class="btn">Sign Up!</button></div>
							</div>
						</form>
						<ul class="social">
							<li><a href="#social" class="facebook"><span class="fa fa-facebook"></span></li>
								<li><a href="#social" class="google"><span class="fa fa-google-plus"></span></a></li>
								<li><a href="#social" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
							<li><a href="#social" class="pinterest"><span class="fa fa-pinterest"></span></a></li>
						</ul>
                    </div>
                </div>
            </div>
		    </div>
		</section>
      <!-- //w3l-form-25-section -->
 	
{% include 'main/snippets/footer.html' %}
{% include 'main/snippets/move_top.html' %} 	