{% include 'snippets/header.html' %}
{% load static %}
<!-- title 11 -->
<section class="w3l-title-11-faq">
	<div class="title11">
		<div class="wrapper">
			<div class="title11-content">
				<h2>frequently asked questions</h2>
			</div>
		</div>
	</div>
</section>
<!-- //title 11 -->
<!-- text-28 -->
<section class="w3l-text-28-main">
	<div class="text-28">
		<div class="wrapper">
			<div class="text-styles-top-28">
				<div class="d-grid">
					<div class="faq-drawer">
						<input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" />
						<label class="faq-drawer__title" for="faq-drawer">
							<h6 class="title">Do I have to purchase a full interior design package, or can I use my designer as needed?</h6>
						</label>
						<div class="faq-drawer__content-wrapper">
							<div class="faq-drawer__content">
								<p class="text-text">
									Aliquam vel dignissim nulla, ac finibus ex. Morbi auctor ligula eu enim semper, non et euismod massa gravida.
									Quisque nec iaculis mauris. Class aptent taciti sociosqu sedit litora torquent per conubia nostra, per inceptos
									himenaeos. Praesent bibendum sipm, posuere nisl vel sagittis. Praesent vitae diam porta, finibus purus nec, aliquam
									est. In nec nisl libero. Morbi ut mollis dui. Donec blandit facilisis nulla ac mattis.
								</p>
							</div>
						</div>
					</div>
					<div class="faq-drawer">
						<input class="faq-drawer__trigger" id="faq-drawer2" type="checkbox" />
						<label class="faq-drawer__title" for="faq-drawer2">
							<h6 class="title">What is the difference between an Interior Designer & an Interior Decorator?
							</h6>
						</label>
						<div class="faq-drawer__content-wrapper">
							<div class="faq-drawer__content">
								<p class="text-text">
									Aliquam vel dignissim nulla, ac finibus ex. Morbi auctor ligula eu enim semper, non et euismod massa gravida.
									Quisque nec iaculis mauris. Class aptent taciti sociosqu sedit litora torquent per conubia nostra, per inceptos
									himenaeos. Praesent bibendum sipm, posuere nisl vel sagittis. Praesent vitae diam porta, finibus purus nec.
								</p>
							</div>
						</div>
					</div>
					<div class="faq-drawer">
						<input class="faq-drawer__trigger" id="faq-drawer3" type="checkbox" />
						<label class="faq-drawer__title" for="faq-drawer3">
							<h6 class="title">What design styles do you work with?</h6>
						</label>
						<div class="faq-drawer__content-wrapper">
							<div class="faq-drawer__content">
								<p class="text-text">
									Aliquam vel dignissim nulla, ac finibus ex. Morbi auctor ligula eu enim semper, non et euismod massa gravida.
									Quisque nec iaculis mauris. Class aptent taciti sociosqu sedit litora torquent per conubia nostra, per inceptos
									himenaeos. Praesent bibendum sipm, posuere nisl vel sagittis. Praesent vitae diam porta, finibus purus nec, aliquam
									est. In nec nisl libero. Morbi ut mollis dui. Donec blandit facilisis nulla ac mattis.
								</p>
							</div>
						</div>
					</div>
					<div class="faq-drawer">
						<input class="faq-drawer__trigger" id="faq-drawer4" type="checkbox" />
						<label class="faq-drawer__title" for="faq-drawer4">
							<h6 class="title">What is your fee schedule? How much will it cost?</h6>
						</label>
						<div class="faq-drawer__content-wrapper">
							<div class="faq-drawer__content">
								<p class="text-text">
									Aliquam vel dignissim nulla, ac finibus ex. Morbi auctor ligula eu enim semper, non et euismod massa gravida.
									Quisque nec iaculis mauris. Class aptent taciti sociosqu sedit litora torquent per conubia nostra, per inceptos
									himenaeos. Praesent bibendum sipm, posuere nisl vel sagittis. Praesent vitae diam porta.
								</p>
							</div>
						</div>
					</div>
					<div class="faq-drawer">
						<input class="faq-drawer__trigger" id="faq-drawer5" type="checkbox" />
						<label class="faq-drawer__title" for="faq-drawer5">
							<h6 class="title">In what style of décor do you specialize?</h6>
						</label>
						<div class="faq-drawer__content-wrapper">
							<div class="faq-drawer__content">
								<p class="text-text">
									Aliquam vel dignissim nulla, ac finibus ex. Morbi auctor ligula eu enim semper, non et euismod massa gravida.
									Quisque nec iaculis mauris. Class aptent taciti sociosqu sedit litora torquent per conubia nostra, per inceptos
									himenaeos. Praesent bibendum sipm, posuere nisl vel sagittis. Praesent vitae diam porta, finibus purus nec, aliquam
									est. In nec nisl libero. Morbi ut mollis dui. Donec blandit facilisis nulla ac mattis.
								</p>
							</div>
						</div>
					</div>
					<div class="faq-drawer">
						<input class="faq-drawer__trigger" id="faq-drawer6" type="checkbox" />
						<label class="faq-drawer__title" for="faq-drawer6">
							<h6 class="title">Can my current furniture be incorporated into the new design plan?
							</h6>
						</label>
						<div class="faq-drawer__content-wrapper">
							<div class="faq-drawer__content">
								<p class="text-text">
									Aliquam vel dignissim nulla, ac finibus ex. Morbi auctor ligula eu enim semper, non et euismod massa gravida.
									Quisque nec iaculis mauris. Class aptent taciti sociosqu sedit litora torquent per conubia nostra, per inceptos
									himenaeos. Praesent bibendum sipm, posuere nisl vel sagittis. Praesent vitae diam porta, finibus purus nec, aliquam
									est. In nec nisl libero.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //text-28 -->
{% include 'main/snippets/footer.html' %}
{% include 'main/snippets/move_top.html' %}
