{% include 'snippets/header.html' %}
{% load static %}
<!-- title 11 -->
<section class="w3l-title-11-portfolio">
	<div class="title11">
		<div class="wrapper">
			<div class="title11-content">
				<h2>portfolio single</h2>
			</div>
		</div>
	</div>
</section>
<!-- //title 11 -->


<div class="w3l-content-with-photo-15">
	<!-- content-photo-15 -->
	<section class="content-photo">
		<div class="wrapper">
			<div class="d-grid">
				<div class="content-left-sec">
					<a href="#"><img src="{% static 'assets/images/portfolio-single.jpg' %}" class="img img-responsive" alt=""></a>
				</div>
				<div class="content-photo-left">
					<h4>Home decor interior</h4>
					<p>Aenean nec leo eu lorem posuere condimentum. Proin dignissim ornare egestas. Morbi tincidunt non turpis ultrices. Cras condimentum.</p>
					<div class="content-photo-grid">
						<div class="content-photo-bot1">
							<h5><span class="fa fa-check-square-o"></span>Price starting at 22.15$</h5>
						</div>
						<div class="content-photo-bot1">
							<h5><span class="fa fa-check-square-o"></span>Best interior with premium quality</h5>
						</div>
						<div class="content-photo-bot1">
							<h5><span class="fa fa-check-square-o"></span>Free installation everywhere</h5>
						</div>
						<div class="content-photo-bot1">
							<h5><span class="fa fa-check-square-o"></span>5 years Warranty on this interior furniture</h5>
						</div>
						<div class="content-photo-bot1">
							<h5><span class="fa fa-check-square-o"></span>Free home delivery</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="description">
				<h4 class="heading">Description</h4>
				<p>Aenean nec leo eu lorem posuere condimentum. Proin dignissim ornare egestas. Morbi tincidunt non turpis ultrices. Cras condimentum sagittis semper. ipsum Suspendisse vitae hendrerit nunc. Nulla in ligula at velit pellentesque interdum. Mauris at quam magna. Proin mattis nisi quam, sed posuere lorem pharetra nec. Cras imperdiet lobortis mauris, at sodales tellus congue at. Morbi viverra nulla neque, id aliquet tortor posuere pellentesque. Morbi eleifend libero eget lacus consequat facilisis. Cras consequat eget lectus eu pulvinar. Pellentesque malesuada dignissim accumsan. Aenean sed turpis varius, congue turpis vitae.
				</p>
				<p>Fusce sit amet lorem ex. Vestibulum non elit tincidunt eros finibus consequat. Donec dignissim nisl nisl, vitae pharetra magna scelerisque eget. Aenean commodo rhoncus purus, sed commodo ligula. Nunc non mi erat. Ut at ligula augue. Vivamus vestibulum ullamcorper ornare. Etiam id justo non felis vulputate finibus. Donec pulvinar massa et neque condimentum placerat. Cras convallis scelerisque eros, non fringilla tellus fringilla eget. Nam a faucibus lectus.</p>
			</div>
		</div>
	</section>
	<!-- //content-photo-15 -->
</div>

{% include 'main/snippets/footer.html' %}
{% include 'main/snippets/move_top.html' %}