{% include 'snippets/header.html' %}
{% load static %}

<!-- title 11 -->
<section class="w3l-title-11-service">
	<div class="title11">
		<div class="wrapper">
			<div class="title11-content">
				<h2>Services Single</h2>
			</div>
		</div>
	</div>
</section>
<!-- //title 11 -->

<!-- text11 -->
<section class="w3l-text-11">
	<div class="text11">
		<div class="wrapper">
			<div class="text11-content">
				<h4 class="heading-no-margin">Commercial design</h4>
				<img src="{% static 'assets/images/services-single.jpg' %}" class="img-responsive margin-top" alt="" />
				<p>Fusce faucibus ante vitae justo efficitur elementum. Donec ipsum faucibus arcu elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo efficitur elementum. Donec ipsum faucibus arcu elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo efficitur elementum. Donec ipsum faucibus arcu elementum, luctus justo. ac purus semper.</p>
				<p>Fusce faucibus ante vitae justo efficitur elementum. Donec ipsum faucibus arcu elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo efficitur elementum. Donec ipsum faucibus arcu elementum, luctus justo. ac purus semper.</p>
				<h4 class="">Faucibus arcu elementum</h4>
				<p>Fusce faucibus ante vitae justo efficitur elementum. Donec ipsum faucibus arcu elementum, luctus justo. ac purus semper. Fusce faucibus ante vitae justo efficitur elementum. Donec ipsum faucibus arcu elementum, luctus justo. ac purus semper.</p>
				<div class="w3l-features-2">
				<div class="feature-main">
					<div class="grid grid-column-2">
						<div class="img1">
					        <span class="fa fa-cogs"></span>
							<h4>Interior expertise</h4>
						</div>
						<div class="img1">
					        <span class="fa fa-wrench"></span>
							<h4>guranteed work</h4>
						</div>
						<div class="img1">
					        <span class="fa fa-phone"></span>
							<h4>Free consultation</h4>
						</div>
						<div class="img1">
					        <span class="fa fa-money"></span>
							<h4>Reasonable price</h4>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>
<!-- //text11 -->
 
 <div class="w3l-features-15">
        <!-- features15 block -->
        <section id="features15-block">
            <div class="wrapper">
                <div class="section-title text-center">
                    <h3>How We Work </h3>
                </div>
                <div class="d-grid columns-2">
                    <div class="left-img">
                       <img src="{% static 'assets/images/services-single-left.jpg' %}" class="img-responsive" alt="" />
                    </div>
                
                    <div class="d-grid features15-col-3">
                        <div class="features15-col-text d-grid">
                            <div class="features15-info">
                                <span class="fa fa-pencil-square-o"></span>
                            </div>
                            <div class="features15-para">
                                <h5>Stage 1</h5>
                                <h4><a href="#link">Brief & Concept</a></h4>
                                <p>Aliquam vel dignissim nulla, ipsum finibus ex. Morbi auc tor ligula eus enim semper.</p>
                            </div>
                        </div>
                        <div class="features15-col-text d-grid">
                            <div class="features15-info">
                                <span class="fa fa-wrench"></span>
                            </div>
                            <div class="features15-para">
                                <h5>Stage 2</h5>
                                <h4><a href="#link">Detailed Design</a></h4>
                                <p>Aliquam vel dignissim nulla, ipsum finibus ex. Morbi auc tor ligula eus enim semper.</p>
                            </div>
                        </div>
                        <div class="features15-col-text d-grid">
                            <div class="features15-info">
                                <span class="fa fa-home"></span>
                            </div>
                            <div class="features15-para">
                                <h5>Stage 3</h5>
                                <h4><a href="#link">Interior Furniture</a></h4>
                                <p>Aliquam vel dignissim nulla, ipsum finibus ex. Morbi auc tor ligula eus enim semper.</p>
                            </div>
                        </div>
                        <div class="features15-col-text d-grid">
                            <div class="features15-info">
                                <span class="fa fa-indent"></span>
                            </div>
                            <div class="features15-para">
                                <h5>Stage 4</h5>
                                <h4><a href="#link">Free Installation</a></h4>
                                <p>Aliquam vel dignissim nulla, ipsum finibus ex. Morbi auc tor ligula eus enim semper.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<div>
        <!-- features15 block -->
   
{% include 'main/snippets/footer.html' %}

{% include 'main/snippets/move_top.html' %}
