{% include 'snippets/header.html' %}
{% load static %}
<!-- title 11 -->
<section class="w3l-title-11-service">
	<div class="title11">
		<div class="wrapper">
			<div class="title11-content">
				<h2>Interior design services</h2>
			</div>
		</div>
	</div>
</section>
<!-- //title 11 -->

<!-- services 1-->
<section class="w3l-services-1">
	<div class="services1">
		<div class="wrapper">
			<div class="services-title">
				<h3>what we offer</h3>
				<p>Fusce faucibus ante vitae justo efficitur elementum. Donec faucibus arcu elementum, luctus justo. ac purus semper pharetra.</p>
			</div>
			<div class="services1-content">
				<div class="column">
					<a href="{% url 'main:services-single' %}">
						<img src="{% static 'assets/images/service1.jpg' %}" class="img-responsive" alt="" />
						<div class="service-info">
							<h4>Interior Design</h4>
							<p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo. </p>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="{% url 'main:services-single' %}">
							<img src="{% static 'assets/images/service2.jpg' %}" class="img-responsive" alt="" />
						<div class="service-info">
							<h4>Commercial Design</h4>
							<p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo. </p>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="{% url 'main:services-single' %}">
							<img src="{% static 'assets/images/service3.jpg' %}" class="img-responsive" alt="" />
						<div class="service-info">
							<h4>Residential Design</h4>
							<p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo. </p>
						</div>
					</a>
				</div>
				<div class="column">
						<a href="{% url 'main:services-single' %}">
							<img src="{% static 'assets/images/service4.jpg' %}" class="img-responsive" alt="" />
							<div class="service-info">
								<h4>Decor Design</h4>
								<p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo. </p>
							</div>
						</a>
					</div>
					<div class="column">
						<a href="{% url 'main:services-single' %}">
								<img src="{% static 'assets/images/service5.jpg' %}" class="img-responsive" alt="" />
							<div class="service-info">
								<h4>lightening Design</h4>
								<p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo. </p>
							</div>
						</a>
					</div>
					<div class="column">
						<a href="{% url 'main:services-single' %}">
								<img src="{% static 'assets/images/service6.jpg' %}" class="img-responsive" alt="" />
							<div class="service-info">
								<h4>modelling Design</h4>
								<p>Nullam non sem ac purus semper pharetra. Fusce faucibus ante vitae justo. </p>
							</div>
						</a>
					</div>
			</div>
		</div>
	</div>
</section>
<!-- //services 1 -->

	<section class="w3l-features-2">
		<div class="wrapper">
		<div class="feature-main">
			<div class="section-title text-center">
				<h3>Some Features that Made us Unique</h3>
			</div>
			<div class="grid grid-column-2">
				<div class="img1">
					<span class="fa fa-wrench"></span>
					<h4>Expert Technicians</h4>
					<p class="para">Fusce faucibus ante vitae justo efficitur elementum.</p>
				</div>
				<div class="img1">
					<span class="fa fa-cogs"></span>
					<h4>Professional Service</h4>
					<p class="para">Fusce faucibus ante vitae justo efficitur elementum.</p>
				</div>
				<div class="img1">
					<span class="fa fa-support"></span>
					<h4>Great Support</h4>
					<p class="para">Fusce faucibus ante vitae justo efficitur elementum.</p>
				</div>
				<div class="img1">
					<span class="fa fa-sign-language"></span>
					<h4>Technical Skills</h4>
					<p class="para">Fusce faucibus ante vitae justo efficitur elementum.</p>
				</div>
				<div class="img1">
					<span class="fa fa-home"></span>
					<h4>Home delivery</h4>
					<p class="para">Fusce faucibus ante vitae justo efficitur elementum.</p>
				</div>
				<div class="img1">
					<span class="fa fa-users"></span>
					<h4>Expert Team</h4>
					<p class="para">Fusce faucibus ante vitae justo efficitur elementum.</p>
				</div>
				<div class="img1">
					<span class="fa fa-money"></span>
					<h4>Reasonable price</h4>
					<p class="para">Fusce faucibus ante vitae justo efficitur elementum.</p>
				</div>
				<div class="img1">
					<span class="fa fa-indent"></span>
					<h4>Free Installation</h4>
					<p class="para">Fusce faucibus ante vitae justo efficitur elementum.</p>
				</div>
			</div>
			
			
			</div>
		</div>
	</section>

{% include 'main/snippets/footer.html' %}
{% include 'main/snippets/move_top.html' %}
