{% include 'snippets/header.html' %}
{% load static %}

<!-- title 11 -->
<section class="w3l-title-11-team">
	<div class="title11">
		<div class="wrapper">
			<div class="title11-content">
				<h2>Team Single</h2>
			</div>
		</div>
	</div>
</section>
<!-- //title 11 -->

<section class="w3l-call-to-action-12">
	<div class="callaction">
	<div class="wrapper">
		<div class="grid grid-column-2 ">
			<div class="column">
				<img src="{% static 'assets/images/t3.jpg' %}" class="img-responsive" alt="" />
			</div>
			<div class="column">
				<h2 class="call-head">John Watson</h2>
				<h5 class="designation">Co-Founder</h5>
				<ul class="social">
					<li><p>Follow me on</p></li>
					<li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
				</ul>
				<p class="call-para">Suspendisse condimentum eget ligula a posuere. Duis ipsum et ipsum cond imentum arcu ut sem gravida lobortis,. pellentesque sed habitat morbi tristique. Fusce faucibus ante vitae justo efficitur elementum. Donec sed faucibus arcu elementum, luctus justo. ac purus semper. Suspendisse condimentum eget ligula a posuere. Duis ipsum et ipsum condimentum arcu ut sem gravida lobortis,. pellentesque sed habitat morbi tristique. Fuscest faucibus ante vitae justo efficitur elementum.</p>
				<div class="team-info">
					<a href="tel:+7-800-999-800">+21-225-999-888</a>
					<a href="mailto:hello@example.com" class="mail">hello@example.com</a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
{% include 'main/snippets/footer.html' %}
{% include 'main/snippets/move_top.html' %}
