{% include 'snippets/header.html' %}
{% load static %}
<!-- title 11 -->
<section class="w3l-title-11-team">
	<div class="title11">
		<div class="wrapper">
			<div class="title11-content">
				<h2>our Experienced Team</h2>
			</div>
		</div>
	</div>
</section>
<!-- //title 11 -->

 <!-- teams7 -->
 <section class="w3l-team-7">
			<div class="w3l-team-7_sur">
				   <div class="wrapper">
				     <div class="w3l-team-7_sur-wrap">
						<div class="grid grid-column-3">
							<div class="column">
								<a href="{% url 'main:team-single' %}"><img class="img img-responsive" src="{% static 'assets/images/t1.jpg' %}" alt=""></a>
								<h4><a href="{% url 'main:team-single' %}">Michael adam</a></h4>
									<div class="w3l-team-7_bottom">
										<div class="w3l-team-7_bottom-left">
											<h6>Designer of company</h6>
										</div>	
										<ul class="social_7">
											<li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
										</ul>
										<div class="clear"></div>
									</div>
									<p>Fusce faucibus ante vitae justo efficitur elementum. Donec arcu, luctus justo.</p>		
							</div>
							<div class="column">
									<a href="{% url 'main:team-single' %}"><img class="img img-responsive" src="{% static 'assets/images/t2.jpg' %}" alt=""></a>
									<h4><a href="{% url 'main:team-single' %}">Mariza edisa</a></h4>
										<div class="w3l-team-7_bottom">
											<div class="w3l-team-7_bottom-left">
												<h6>Designer of company</h6>
											</div>	
											<ul class="social_7">
												<li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
												<li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
											</ul>
											<div class="clear"></div>
										</div>
										<p>Fusce faucibus ante vitae justo efficitur elementum. Donec arcu, luctus justo.</p>		
								</div>
							<div class="column">
								<a href="{% url 'main:team-single' %}"><img class="img img-responsive" src="{% static 'assets/images/t3.jpg' %}" alt=""></a>
								<h4><a href="{% url 'main:team-single' %}">Linda Anderson</a></h4>
									<div class="w3l-team-7_bottom">
										<div class="w3l-team-7_bottom-left">
											<h6>Designer of company</h6>
										</div>
										<ul class="social_7">
											<li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
										</ul>
										<div class="clear"></div>
									</div>
									<p>Fusce faucibus ante vitae justo efficitur elementum. Donec arcu, luctus justo.</p>		
                            </div>
                            
							<div class="column">
								<a href="{% url 'main:team-single' %}"><img class="img img-responsive" src="{% static 'assets/images/t4.jpg' %}" alt=""></a>
								<h4><a href="{% url 'main:team-single' %}">Charlotte Olivia</a></h4>
									<div class="w3l-team-7_bottom">
										<div class="w3l-team-7_bottom-left">
											<h6>Designer of company</h6>
										</div>
										<ul class="social_7">
											<li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
										</ul>
										<div class="clear"></div>
									</div>
									<p>Fusce faucibus ante vitae justo efficitur elementum. Donec arcu, luctus justo.</p>		
                            </div>
                            
							<div class="column">
								<a href="{% url 'main:team-single' %}"><img class="img img-responsive" src="{% static 'assets/images/t5.jpg' %}" alt=""></a>
								<h4><a href="{% url 'main:team-single' %}">Mathew Elijah</a></h4>
									<div class="w3l-team-7_bottom">
										<div class="w3l-team-7_bottom-left">
											<h6>Designer of company</h6>
										</div>
										<ul class="social_7">
											<li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
										</ul>
										<div class="clear"></div>
									</div>
									<p>Fusce faucibus ante vitae justo efficitur elementum. Donec arcu, luctus justo.</p>		
                            </div>
                            
							<div class="column">
								<a href="{% url 'main:team-single' %}"><img class="img img-responsive" src="{% static 'assets/images/t6.jpg' %}" alt=""></a>
								<h4><a href="{% url 'main:team-single' %}">Alexander Lucas</a></h4>
									<div class="w3l-team-7_bottom">
										<div class="w3l-team-7_bottom-left">
											<h6>Designer of company</h6>
										</div>
										<ul class="social_7">
											<li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
											<li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
										</ul>
										<div class="clear"></div>
									</div>
									<p>Fusce faucibus ante vitae justo efficitur elementum. Donec arcu, luctus justo.</p>		
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
<!-- /teams7 -->
{% include 'main/snippets/footer.html' %}
{% include 'main/snippets/move_top.html' %}